{% extends "base.html" %}

{% block content %}

<h2>Enter your zip code</h2>

<form method="POST" action="/parks">
    <input type="text" name="zip_code" placeholder="Enter Zip Code" required>
    <button type="submit">Search</button>
</form>

<div>
    <div>
    {% if filtered_parks is not none %}
        <h2>Map of Parks in {{ park_city }}</h2>
        <div class="map-container">{{ map_html|safe }}</div>
        <h2>Weather in {{ park_city }}</h2>
    </div>
    
    <div>
        {% if weather_data %}
            {% if 'error' in weather_data %}
                <p>{{ weather_data.error }}</p>
            {% else %}
                <ul>
                    <li>Description: {{ weather_data.description }}</li>
                    <li>Temperature: {{ weather_data.temp }}°C</li>
                    <li>Humidity: {{ weather_data.humidity }}%</li>
                </ul>
                <h2>Outfit Recommendation</h2>
                <ul>
                    {% for item in clothing_recommendation %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
</div>

{% endblock %}
