{% extends "base.html" %}

{% block content %}
<h1>Welcome to our "Park Selector" feature!</h1>
<form method="POST">
    <label for="zip_code">Enter your zip code here:</label>
    <input type="text" id="zip_code" name="zip_code" required>
    <button type="submit">Submit</button>
</form>

{% if filtered_parks %}
    <h2>Parks in {{ park_city }}:</h2>
    <ul>
        {% for park in filtered_parks['park_name'] %}
            <li>{{ park }}</li>
        {% endfor %}
    </ul>
    <h3>Map of Parks:</h3>
    <iframe src="{{ url_for('static', filename='map.html') }}" width="100%" height="400px"></iframe>
{% endif %}
{% endblock %}
